<div class="text-center">
<form class="form-signin" action="/login" method="post">
  <h1 class="h3 mb-3 font-weight-normal">Please login below:</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" name="user[email]" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" name="user[password]" placeholder="Password" required>

  <input type="submit" class="btn btn-lg btn-primary btn-block active" value="Log In">
  <p class="mt-5 mb-3 text-muted">&copy; 2019</p>

  <% if @user || @no_user %>
  <h4><%= "Uh-oh! A few errors to resolve: " %></h4>
  <ul>
    <li><%= @no_user ? "That email address is not registered to a current user." : @user.errors.full_messages.first %></li>
  </ul>
  <% end %>

</form>
