<!-- <div class="my-2 text-center">
    <h2>LoCal: Your Calendar for Locally Organized Events</h2>

    <h4>Please <a href="/login">Log In</a> or <a href="/signup">Sign Up</a> to use LoCal</h4>

</div> -->
<main role="main" class="inner cover text-center">
    <h1 class="cover-heading display-2">lo&#183;cal</h1>
    <p class="lead">lo&#183;cal is a locally-driven calendar for shows and events around Winston-Salem, NC.<br>Discover & keep track of small-venue shows, special screenings, and more.</p>
    <p class="lead">
      <a href="/signup" class="btn btn-lg btn-secondary">Sign Up</a>
    </p>
    <p class="lead">
      <a href="/login" class="btn btn-lg btn-secondary">Log In</a>
    </p>
  </main>
